/* CSS Document */
/*estilo de la pagina NOSOTROS */
.encabezado-noticias
 { 
 	list-style:none;	
	font-family: "Trebuchet MS", Arial;
 }
.encabezado-noticias a {
		
	display:block;
	text-transform: uppercase;	
	padding:10px 0;
	text-decoration:none;	
	text-align:left;
	font-size:15px;	
	color:#ffffff;		
	font-weight: bold;

 }
 /*estilo de la pagina noticias */
.titulo-noticias
 { 
 	list-style:none;	
	font-family: "Trebuchet MS", Arial;
 }
.titulo-noticias a {
		
	display:block;
	text-transform:uppercase;
	padding:10px 0;
	text-decoration:none;	
	text-align:left;
	font-size:15px;	
	color:#666666;		
	font-weight: bold;

 }

 /*estilo de la pagina NOSOTROS */
.contenido-noticias
 { 
 	list-style:none;	
	font-family: "Trebuchet MS", Arial;
 }
.contenido-noticias a {
		
	display:block;
	/*text-transform:lowercase;*/
	padding:5px 0;
	text-decoration:none;	
	text-align:justify;
	font-size:12px;	
	color:#666666;	

 }
 
  /*estilo "volver"de la pagina NOSOTROS */
.volver
 { 
 	list-style:none;	
	font-family: "Trebuchet MS", Arial;
 }
.volver a {
		
	display:block;
	text-transform:inherit;	
	padding:5px 0;
	text-decoration:none;	
	text-align:right;
	font-size:12px;	
	color:#666666;		
	

 }
 
 .cargo-noticias
 { 
 	list-style:none;	
	font-family: "Trebuchet MS", Arial;
 }
.cargo-noticias a {
		
	display:block;
	/*text-transform:lowercase;*/
	padding:2px 0;
	text-decoration:none;	
	text-align:justify;
	font-size:12px;	
	color:#666666;
	font-weight:bolder;
 }
.nombre-noticias
 { 
 	list-style:none;	
	font-family: "Trebuchet MS", Arial;
 }
.nombre-noticias a {
		
	display:block;
	text-transform:uppercase;
	padding:2px 0;
	text-decoration:none;	
	text-align:left;
	font-size:12px;	
	color:#666666;		
	font-weight: bold;

 }